{{ define "index" }}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HTMX Todo App</title>

  <!-- External deps -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>

  <!-- Local ones -->
  <link rel="stylesheet" href="/static/site.css" />
  <link rel="shortcut icon" href="/static/icon.png" type="image/png" />
</head>

<body>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/static/icon.png"> &nbsp; <b>Todo App</b>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" hx-get="/view/home" hx-target="#main" hx-push-url="/p/home" hx-swap="transition:true">
          <i class="fa-solid fa-home"></i> &nbsp; Home
        </a>

        <a class="navbar-item" hx-get="/view/list-todos" hx-target="#main" hx-push-url="/p/list-todos"
          hx-swap="transition:true">
          <i class="fa-solid fa-list"></i> &nbsp; Todo List
        </a>

        <a class="navbar-item" hx-get="/view/new-todo" hx-target="#main" hx-push-url="/p/new-todo"
          hx-swap="transition:true">
          <i class="fa-solid fa-square-plus"></i> &nbsp; Create
        </a>
      </div>
    </div>
  </nav>

  <section class="section m-2 p-0 slideup-transition" id="main" hx-trigger="load" hx-get="/view/{{ or .View "home" }}">
  </section>

  <footer class="footer">
    <div class="is-pulled-right">HTMX and Go - Todo App v0.0.2</div>
  </footer>
</body>

</html>

{{ end }}